{% extends 'base.html.twig' %}

{%  block title %}
    {{ parent() }} | Edition Site
{% endblock %}

{% block body %}

<h2>Editer le site</h2>

{{ form_start(editForm) }}
{{ form_row(editForm.nomSite) }}
<button class="button">Modifier</button>
{{ form_end(editForm)}}

{% endblock %}