{% extends 'base.html.twig' %}

{%  block title %}
    {{ parent() }} | Creation Profil
{% endblock %}

{%  block body %}
    {{ form_start(profilForm) }}
    {{ form_widget(profilForm) }}
    <button>créer</button>
    {{ form_end(profilForm) }}
    <button>annuler</button>
{% endblock %}