<h2>Editer la ville</h2>

<div>
    {{ form_start(editForm) }}
    {{ form_row(editForm.nomVille) }}
    {{ form_row(editForm.codePostal) }}
    <button id="edit">Modifer</button>
    {{ form_end(editForm)}}

</div>